#editor_container {
  position: relative;
  height: 300px;
}

#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.list_node {
  padding: 5px 0 0 0;
}

.list_input {
  width: 100%;
}

.node_list {
  margin: 10px 0;
  padding: 5px;
  border: 1px solid aqua;
  border-radius: 3px;
  background-color: aliceblue;
}

.list_node {
  margin: 3px 0;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.green {
  border-color: darkgreen;
  background-color: #33FF33;
}

.red {
  border-color: darkred;
  background-color: #FF6666;
}

.chooser-btn {
  display: block;
}
