#editor_container {
  position: relative;
  height: 500px;
  width: 700px;
}

#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.list_node {
  padding: 5px 0 0 0;
}

.list_container {
  float: left;
}

.clearer {
  clear: both;
}
